/** ==============首页样式============== **/
body{font-family:"open sans", "Helvetica Neue", "Helvetica, Arial", sans-serif,"PingFangSC-Regular","Microsoft YaHei";color:#333333;padding-bottom:7rem;}
.site-bg{position:fixed;width: 100%; height: 100%;left:0;right:0;top:0;z-index:0;}
.footer{font-size:.875rem;background:#343a40;width:100%;height:7rem;margin-bottom:-7rem;position:relative;z-index:1}
.footer a{padding:0 .125rem;color:#f8f9fa;}

/*导航*/
.navbar a.navbar-brand{font-size:1.125rem}
.navbar a {font-size:.875rem;}
.navbar .form-control,.navbar .btn {font-size:.875rem;}
.navbar-toggler{font-size:.875rem}
.navbar img.avatar{height:35px;background:#f4f4f4}
.navbar .has-login > a{color:rgba(255,255,255,.5)}
.navbar .has-login > a:hover{color:#ffffff}
.navbar .has-login .dropdown-menu{left:auto;right:0}

/*轮播*/
#main-carousel {margin-top:3.325rem;z-index:1;}
#main-carousel .carousel-item {height:320px;}
#main-carousel .carousel-caption{width:100%;height:100%;background:url("/public/image/background.png") repeat;top:0;left:0;padding:60px 15% 0 15%;z-index:1;}
#main-carousel h1{font-size:1.75rem}
#main-carousel p{font-size:.875rem}
#main-carousel .btn{font-size:.875rem;}
#main-carousel a,#main-carousel a:hover{border:none;color:#ffffff}

/*大标题*/
.navy-title{font-size:1.75rem;font-weight:500;margin-top:1rem;}
.navy-title .active{color:#007bff}
.navy-line{width: 60px;height: 1px;margin: 0 auto;border-bottom: 2px solid #007bff;}

/*卡片*/
.card,.list-group-item{background:transparent}
.card-text{font-size:.875rem}
.github-title{font-size:1rem;font-weight:200;}

/*首页文章列表*/
.component.component-right{text-align:right}
.component .list-group-item{padding:.5rem 0;font-size:.875rem;}
.article .list-group-item{padding:.5rem 0;}
.article .card-time{font-size:.875rem}

/*首页书籍*/
.container .book.card-group:nth-child(even) .card{border-bottom:none;border-bottom-left-radius:0; border-bottom-right-radius:0}
.container .book.card-group:nth-child(odd) .card{border-top-left-radius:0; border-top-right-radius:0}

/*全局链接效果*/
a, a:hover{text-decoration:none;}
.container a:not(.page-link){color:#333333;border-bottom:2px solid transparent;}
.container a:not(.page-link):hover{color:#007bff;border-bottom:2px solid #007bff;}
.card-group.technology a:hover,.card-group.book a:hover,.card.about a:hover,.action-bar a:hover{border-bottom:none!important;}
.card.recommend a:hover,.card.tag a:hover{border-bottom:1px solid #007bff;}

/*分页*/
.page-item .page-link{margin:0 .2rem;color:#999999}
.page-item.active .page-link{color:#007bff;border:1px solid #007bff;background:transparent;}




/**==============子页样式==============**/
.sub-container{margin-top:3.325rem;min-height:calc(100vh - 10.325rem);}
.sub-container .card li.list-group-item{border:none;border-top: 1px solid rgba(0,0,0,.05) !important;}
.sub-container .card li.list-group-item:hover{background:#f8f9fa;}
.banner img,.media img{border-radius:.25rem;}

/*文章列表*/
.content-left,.content-right{margin-top:2rem;}
.card.article-list .list-group-item{padding:.75rem;}
.card.article-list .list-group-item .media-body h5{font-size:1.125rem;font-weight:500;}
.card.article-list .list-group-item .media-body .media-summary{height:3rem}
.card.article-list .list-group-item .media-body p{font-size:.875rem;color:#999999;}
.card.article-list .list-group-item .media-body p span{color:#cccccc;margin-right:.5rem;}
.card.article-list .list-group-item .media-body .media-icon{float:left}
.card.article-list .list-group-item .media-body .media-tag{float:right;}
.card.article-list .list-group-item .media-body .media-tag a{color:#999999!important;margin-right:.5rem}
.card.article-list .media img{width:160px;background:#666666;}

.card.recommend .list-group-item,.card.tag .list-group-item{font-size:.875rem;padding:.5rem;}
.card.recommend .list-group-item span{color:#cccccc;}
.card.recommend .card-body{padding:1.25rem .5rem;}
.card.recommend .card-title{font-size:1.125rem;font-weight:500}
.card.recommend .card-text{color:#999999;}

.card.about .avatar{transition:all 1.0s;}
.card.about .avatar:hover{transform:rotate(360deg);}
.card.about .card-footer span{margin:0 .4rem;}
.card.about .card-footer{border-top: 1px solid rgba(0,0,0,.125);font-size:.875rem;}
.card.about .card-title,.card.about .card-footer a{color:#f4f4f4}
.card.about{color:#cccccc;}




/*文章详情*/
.article-detail{padding:.5rem 1rem 1rem 1rem;position:relative;z-index:3;}
#article-content{margin-top:2rem;padding:0;background:transparent;font-size:1rem;color:#333333;}
#article-content > p{text-indent:28px;}
#article-content > ul{margin-left:18px;}

.toc-container{position:fixed;top:6rem;width:auto;display:none;overflow-y:scroll}
.toc-container .markdown-toc > ul.markdown-toc-list{margin:.5rem 1rem .5rem 0;}
.toc-container > .markdown-toc > ul.markdown-toc-list > li > a{font-weight:600;color:#666666}
.toc-container .markdown-toc li{color:#cccccc;padding:.2rem;font-size:.875rem;}
.toc-container .markdown-toc > ul.markdown-toc-list a{color:#999999;}

.article-title{font-size:1.75rem;margin:1rem 0;}
.article-icon span{margin-right:1rem;color:#999999;font-size:.875rem;}
.article-tips{font-size:.875rem;padding:.5rem 1rem;color:#999999}
.article-tips a{color:#999999!important;margin-right:.5rem;}
.article-notice{padding:0 1rem;background:#ffffff;border-radius:.25rem;font-size:1rem;color:#999999}

/*操作条*/
.action-bar{width:6rem;position:fixed;top:300px;left:100px;display:none;}
.action-bar .action-icon{margin-top:.4rem;}
.action-bar .action-icon span.fa-stack{color:#666666;font-size:1.4rem;cursor:pointer}
.action-bar .action-icon b{font-size:.875rem;color:#999999;}
.action-bar .action-icon .back-to-top{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.action-bar .action-icon .back-to-top .fa-rocket{font-size:2.2rem;}


/*评论*/
#comment-textarea{border-radius:.25rem;}
#comment-textarea textarea{width:100%;font-size:.875rem;border:1px solid #e4e4e4;border-radius:.25rem;}
.comments img.avatar{border-radius:50%;border:1px solid #e4e4e4;margin-right:.5rem;}
.comments .comment-body{margin-top:.5rem;padding:0!important;font-size:.875rem;background:transparent;}
.comments .media-body{overflow: hidden!important;}
.comment-tags{margin-top:.5rem;}
.comment-tags a{margin-right:.5rem}

/*代码高亮左右滚动*/
pre.prettyprint {white-space:pre!important;word-wrap:break-word!important;overflow-x:auto!important;background:#2d2d2d!important;border:none!important;border-radius:.25rem!important;padding:5px!important;}
pre.prettyprint ol.linenums li{border-left:1px solid #4d4d4d;padding:0 .5rem;}

/**==============小屏样式==============**/
@media (max-width:576px ) {
    .container a:not(.page-link){color:#333333;border-bottom:none}
    .container a:not(.page-link):hover{color:#007bff;border-bottom:none}

    .technology, .book{display:block;overflow:hidden}
    .technology .card,.book .card{width:calc(50% - .5rem);float:left}
    .technology .card:nth-child(odd),.book .card:nth-child(odd){margin-right:1rem;}
    .technology .card .card-text{min-height:84px}
    .container .book.card-group:nth-child(even) .card{border-bottom:1px solid rgba(0,0,0,.125);border-bottom-left-radius:.25rem; border-bottom-right-radius:.25rem}
    .container .book.card-group:nth-child(odd) .card{border-top-left-radius:.25rem; border-top-right-radius:.25rem}

    .card.component.component-image{display: none}
    .card.component.component-right{text-align:left!important;}
    .card-group.article .card-time{display: none}

    .card.article-list .media img{width:120px;margin-left:0.5rem!important;}
    .card.article-list .list-group-item .media-body h5{height:3.75rem;}
    .card.article-list .media .media-summary{display:none}
    .card.article-list .media .media-body .media-tag{display:none}
    .card.recommend .card-title,.card.article-list .list-group-item .media-body h5{font-size:1rem;}

    .article-detail{border:none;padding:0;}
    .article-title{font-size:1.25rem;margin:0}
    .article-notice{display:none;}
}
