/** 首页样式 **/
body{font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif,"微软雅黑";color:#333333;}
.footer{font-size:.875rem;}
.footer a{color:rgba(255,255,255,.5);padding:0 .125rem;}

/*导航*/
.navbar a.navbar-brand{font-size:1.125rem}
.navbar a {font-size:.875rem;}
.navbar .form-control,.navbar .btn {font-size:.875rem;}
.navbar-toggler{font-size:.875rem}

/*轮播*/
#main-carousel {margin-top:3.325rem;}
#main-carousel .carousel-item {height:320px;}
#main-carousel .carousel-caption{width:100%;height:100%;background:url("/public/image/background.png") repeat;top:0;left:0;padding:60px 15% 0 15%;z-index:1;}
#main-carousel h1{font-size:1.75rem}
#main-carousel p{font-size:.875rem}
#main-carousel .btn{font-size:.875rem;}

/*大标题*/
.navy-title{font-size:1.75rem;font-weight:500;margin-top:1rem;}
.navy-title .active{color:#007bff}
.navy-line{width: 60px;height: 1px;margin: 0 auto;border-bottom: 2px solid #007bff;}

/*卡片*/
.card-text{font-size:.875rem}
.github-title{font-size:1rem;font-weight:200;}

/*文章列表*/
.component.component-right{text-align:right}
.component .list-group-item,.article .list-group-item{padding:.5rem 0;font-size:.875rem;}

/*链接效果*/
a{color:#333333;}
a:hover{color:#007bff}
.card a{text-decoration:underline;}




/**子页面**/
.sub-container{margin-top:3.325rem;}
.banner img,.media img{border-radius:.25rem;}

/*文章列表*/
.content-left,.content-right{margin-top:2rem;}
.content-left .card.article-list .list-group-item{padding:.75rem;}
.content-left .card.article-list .list-group-item .media-body h5{font-size:1rem;font-weight:600;}
.content-left .card.article-list .list-group-item .media-body p{font-size:.875rem;color:#999999;}
.content-left .card.article-list .list-group-item .media-body p span{color:#cccccc;margin-right:.5rem;}
.content-left .card.article-list .list-group-item .media-body .media-icon{float:left}
.content-left .card.article-list .list-group-item .media-body .media-tag{float:right;}
.content-left .card .media img{width:160px;background:#666}
.sub-container .card li.list-group-item:hover{background:#f8f9fa;}

.content-right .card .card-footer{font-size:.875rem;font-weight:normal;color:#666666;}
.content-right .card .card-footer span{margin:0 .4rem;}
.content-right .card .list-group-item{font-size:.875rem;padding:.5rem 1rem;}
.content-right .card .list-group-item span{color:#cccccc;}
.content-right .card .card-title{font-size:1rem;}
.content-right .card .card-title span{font-weight:bold;}
.content-right .card .card-text{color:#999999;}
.about .avatar{transition:all 1.0s;}
.about .avatar:hover{transform:rotate(180deg);}
.about small{color:#cccccc;}




/*文章详情*/
.article-detail{padding:.5rem 1rem 1rem 1rem;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;background:#ffffff;}
#article-content{margin-top:2rem;padding:0;}
.article-title{font-size:1.75rem;margin:1rem 0;}
.article-icon span{margin-right:1rem;color:#999999;font-size:.875rem;}
.article-icon span a{color:#999999}
.article-tips{font-size:.875rem;padding:1rem 0 .5rem 0;color:#999999}
.article-tips a{color:#999999;text-decoration:underline}
.article-notice{padding:1rem;border:1px solid rgba(0,0,0,.125);background:#ffffff;border-radius:.25rem;font-size:.875rem;color:#999999}

/*代码高亮左右滚动*/
pre.prettyprint {white-space:pre!important;word-wrap:break-word!important;overflow:auto!important;background:#2d2d2d!important;}
pre.prettyprint ol.linenums li{border-left:1px solid #4d4d4d;}

/*小屏样式*/
@media (max-width:576px ) {
    .component.component-image{display: none}
    .component.component-right{text-align:left!important;}
    .card-time{display: none}
    .content-left .card .media img{width:120px;margin-left:0.5rem!important;}
    .content-left .card .media .media-summary{display:none}
    .content-left .card .media .media-body .media-tag{display:none}
    .article-title{font-size:1.25rem;}
    .article-notice{display:none;}
}
